body {
	margin: 0;
	display: flex;
	font-family: "Roboto Mono", monospace;
	font-weight: lighter;
	overflow: hidden;
}


body > div:nth-child(2) {
	flex-grow: 1;
	height: 100vh;
	display: flex;
	flex-direction: column;
}


#left span, #top > div span, #centerOverlay span {
	display: block;
	text-transform: uppercase;
	color: #88869C;
	font-size: 1.4vh;
	margin-bottom: -0.6vh;
	padding-left: 0.2vh;
}

#left strong, #top > div strong, #centerOverlay strong {
	display: block;
	color: #9850E0;
	font-size: 3vh;
}

#left {
	width: 20vw;
	height: 100vh;
	background: #31303D;
	padding: 3.8vh 0 0 4vh;
	box-sizing: border-box;
}

#left strong {
	margin-bottom: 2vh;
	color: #E09E50;
}

#left strong:nth-of-type(2) {
	margin-bottom: 9vh;
}

#top {
	height: 20vh;
	background: #383742;
	display: flex;
}

#top > div {
	padding-left: 4vh;
	justify-content: center;
	display: flex;
	flex-direction: column;
	width: 20vh;
}

#top > div:first-child {
	width: initial;
	flex-grow: 1;
}

#top > div:first-child strong {
	color: #E0508C;
}

#top > div strong:first-of-type {
	margin-bottom: 2vh;
}

#center {
	height: 80vh;
	background: #19a919;
}

#center canvas {
	height: 80vh;
	width: 80vw;
	background: #4186E0 !important;
}

#centerOverlay {
	position: fixed;
	background: #383742;
	right: 0;
	bottom: 0;
	height: 80vh;
	width: 80vw;
	display: flex;
	opacity: 1;
	transition: opacity .2s;
}

#centerOverlay > div {
	width: 50%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#centerOverlay.start > div:first-child {
	opacity: 0;
}

#centerOverlay > div:first-child span {
	font-size: 2.5vh;
	margin-bottom: -2vh;
}

#centerOverlay > div:first-child  strong {
	font-size: 6vh;
}

#centerOverlay > div:last-child span {
	font-size: 2vh;
	margin-bottom: -1.5vh;
}

#centerOverlay > div:last-child  strong {
	font-size: 5vh;
}
